@mixin background($c) {
  background: $c;
  @if (lightness($c) <60) {
    color: aliceblue;
  } @else {
    color: black;
  }
}

@mixin hover($c) {
  $temp: darken($c, 20%);
  &:hover,
  &:focus,
  &:active {
    @include background($temp);
    outline: $temp;
    transition: 200ms all ease-in;
  }
}

@for $i from 1 through 5 {
  .m-#{$i} {
    margin: #{$i}rem;
  }
  .my-#{$i} {
    margin-top: #{$i}rem;
    margin-bottom: #{$i}rem;
  }
  .mt-#{$i} {
    margin-top: #{$i}rem;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}rem;
  }
  .mx-#{$i} {
    margin-left: #{$i}rem;
    margin-right: #{$i}rem;
  }
  .mr-#{$i} {
    margin-right: #{$i}rem;
  }
  .ml-#{$i} {
    margin-left: #{$i}rem;
  }
  .p-#{$i} {
    padding: #{i}rem;
  }
  .py-#{$i} {
    padding-top: #{$i}rem;
    padding-bottom: #{$i}rem;
  }
  .pt-#{$i} {
    padding-top: #{$i}rem;
  }
  .pb-#{$i} {
    padding-bottom: #{i}rem;
  }
  .px-#{$i} {
    padding-left: #{$i}rem;
    padding-right: #{$i}rem;
  }
  .pr-#{$i} {
    padding-right: #{$i}rem;
  }
  .pl-#{$i} {
    padding-left: #{$i}rem;
  }
}

.bg {
  &-primary {
    @include background($primary);
  }
  &-success {
    @include background($success);
  }
  &-secondary {
    @include background($secondary);
  }
  &-info {
    @include background($info);
  }
  &-warning {
    @include background($warning);
  }
  &-error {
    @include background($error);
  }
  &-dark {
    @include background($dark);
  }
}

.btn {
  padding: 0.5rem;
  &-primary {
    @extend .bg-primary;
    @include hover($primary);
  }
  &-success {
    @extend .bg-success;
    @include hover($success);
  }
  &-secondary {
    @extend .bg-secondary;
    @include hover($secondary);
  }
  &-info {
    @extend .bg-info;
    @include hover($info);
  }
  &-warning {
    @extend .bg-warning;
    @include hover($warning);
  }
  &-error {
    @extend .bg-error;
    @include hover($error);
  }
  &-block {
    display: block;
    width: 100%;
  }
  &-dark {
    @extend .bg-dark;
    @include hover($dark);
  }
}
.border {
  &-primary {
    border: 1px solid $primary;
  }
  &-secondary {
    border: 1px solid $secondary;
  }
  &-success {
    border: 1px solid $success;
  }
  &-info {
    border: 1px solid $info;
  }
  &-warning {
    border: 1px solid $warning;
  }
  &-error {
    border: 1px solid $error;
  }
  &-dark {
    border: 1px solid $dark;
  }
}
